In [ ]:
from datetime import datetime

In [ ]:
#Задание 1
#Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
#The Moscow Times - Wednesday, October 2, 2002
#The Guardian - Friday, 11.10.13
#Daily News - Thursday, 18 August 1977


def str_to_date(data):
  data = data.split(' - ')
  if data[0] == 'The Moscow Times':
    date = datetime.strptime(','.join(data[1].split(', ')[1:3]), '%B %d,%Y')
  elif data[0] == 'The Guardian':
    date = datetime.strptime(data[1].split(', ')[1], '%d.%m.%y')
  elif data[0] == 'Daily News':
    date = datetime.strptime(data[1].split(', ')[1], '%d %B %Y')
  
  print(data, ':', date)


str_to_date('The Moscow Times - Wednesday, October 2, 2002')
str_to_date('The Guardian - Friday, 11.10.13')
str_to_date('Daily News - Thursday, 18 August 1977')

['The Moscow Times', 'Wednesday, October 2, 2002'] : 2002-10-02 00:00:00
['The Guardian', 'Friday, 11.10.13'] : 2013-10-11 00:00:00
['Daily News', 'Thursday, 18 August 1977'] : 1977-08-18 00:00:00

In [ ]:
#Задание 2
#Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
#stream = ['2018-04-02', '2018-02-29', '2018-19-02']
#Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

def check_date (stream):
  for element in stream:
    try:
      datetime.strptime(element, '%Y-%m-%d')
      print((element,True))
    except:
      print((element,False))

stream = ['2018-04-02', '2018-02-29', '2018-19-02']

check_date(stream)

('2018-04-02', True)
('2018-02-29', False)
('2018-19-02', False)

In [ ]:
#Задание 3
#Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. 
#В случае неверного формата или при start_date > end_date должен возвращаться пустой список.
from datetime import timedelta

def date_range(start_date, end_date):
  list_of_days = []
  start_date = datetime.strptime(start_date, '%Y-%m-%d')
  end_date = datetime.strptime(end_date, '%Y-%m-%d')
  if start_date > end_date:
    return list_of_days
  else:
    return [(start_date + timedelta(days = i)) for i in range((end_date - start_date).days + 1)]

In [ ]:
date_range('2020-01-01','2020-02-05')

[datetime.datetime(2020, 1, 1, 0, 0),
 datetime.datetime(2020, 1, 2, 0, 0),
 datetime.datetime(2020, 1, 3, 0, 0),
 datetime.datetime(2020, 1, 4, 0, 0),
 datetime.datetime(2020, 1, 5, 0, 0),
 datetime.datetime(2020, 1, 6, 0, 0),
 datetime.datetime(2020, 1, 7, 0, 0),
 datetime.datetime(2020, 1, 8, 0, 0),
 datetime.datetime(2020, 1, 9, 0, 0),
 datetime.datetime(2020, 1, 10, 0, 0),
 datetime.datetime(2020, 1, 11, 0, 0),
 datetime.datetime(2020, 1, 12, 0, 0),
 datetime.datetime(2020, 1, 13, 0, 0),
 datetime.datetime(2020, 1, 14, 0, 0),
 datetime.datetime(2020, 1, 15, 0, 0),
 datetime.datetime(2020, 1, 16, 0, 0),
 datetime.datetime(2020, 1, 17, 0, 0),
 datetime.datetime(2020, 1, 18, 0, 0),
 datetime.datetime(2020, 1, 19, 0, 0),
 datetime.datetime(2020, 1, 20, 0, 0),
 datetime.datetime(2020, 1, 21, 0, 0),
 datetime.datetime(2020, 1, 22, 0, 0),
 datetime.datetime(2020, 1, 23, 0, 0),
 datetime.datetime(2020, 1, 24, 0, 0),
 datetime.datetime(2020, 1, 25, 0, 0),
 datetime.datetime(2020, 1, 26, 0, 0),
 datetime.datetime(2020, 1, 27, 0, 0),
 datetime.datetime(2020, 1, 28, 0, 0),
 datetime.datetime(2020, 1, 29, 0, 0),
 datetime.datetime(2020, 1, 30, 0, 0),
 datetime.datetime(2020, 1, 31, 0, 0),
 datetime.datetime(2020, 2, 1, 0, 0),
 datetime.datetime(2020, 2, 2, 0, 0),
 datetime.datetime(2020, 2, 3, 0, 0),
 datetime.datetime(2020, 2, 4, 0, 0),
 datetime.datetime(2020, 2, 5, 0, 0)]

In [ ]:
date_range('2022-01-01','2020-02-05')

[]

In [ ]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
  element_to_delete = default_list[-1]
  default_list.remove(element_to_delete)
  print(default_list) # покажем как меняется список
  return default_list[DEFAULT_USER_COUNT-2]

In [ ]:
delete_and_return_last_user(3)

['A100', 'A101']

'A101'

In [ ]:
delete_and_return_last_user(3)

['A100']

IndexError: ignored

In [ ]:
delete_and_return_last_user(3)

[]

IndexError: ignored

In [ ]:
 #- Что значит ошибка list index out of range? Вызываемый индекс больше чем те, которые есть
 # - Почему при первом запуске функция работает корректно, а при втором - нет?
# длина списка у нас после первого вызова функции уменьшилась на 1, поэтому индесы 0, 1. 
#Далее запускаем еще раз функцию, длина списка уменьшается еще на 1. Имеется индекс только 0. При вычитание получается DEFAULT_USER_COUNT-2 = 1. 
#Индекса 1 нет, падаем в ошибку