# https://smartiqa.ru/courses/python/answer-key

# Задача 0.1

Найдите моду списка чисел. Модой числового ряда называется число, которое встречается в ряду чаще других.

In [ ]:
a=[1,4,6,7,8,3,4,6,5,8,3,2,7,8,6,1,1,5,8,5,6,7,8,8,8,3]

# Задача 1.1
#### 1. Создать произвольный список
#### 2. Добавить новый элемент типа str в конец списка
#### 3. Добавить новый элемент типа int на место с индексом
#### 4. Добавить новый элемент типа list в конец списка
#### 5. Добавить новый элемент типа tuple на место с индексом
#### 6. Получить элемент по индексу
#### 7. Удалить элемент
#### 8. Найти число повторений элемента списка

# Задача 1.2
#### Получите первый и последний элемент списка

In [1]:
lst = ['Нулевой элемент', 'One', 2, 3, 4, (5, 5, 5)]

# Задача 1.3
#### Поменяйте значения переменных a и b местами (тремя способами, через фишку питона, через третью переменную и сложением)

# Задача 1.4
#### Проверить, есть ли в последовательности дубликаты

# Задача 1.5
#### 1. Создать произвольный словарь
#### 2. Добавить новый элемент с ключом типа str и значением типа int 
#### 3. Добавить новый элемент с ключом типа кортеж(tuple) и значением типа список(list)
#### 4. Получить элемент по ключу
#### 5. Удалить элемент по ключу
#### 6. Получить список ключей словаря

# Задача 1.6
#### 1. Создать множество(set) 
#### 2. Выполнить операцию объединения созданных множеств
#### 3. Выполнить операцию пересечения созданных множеств

# Задача 2.1
#### Создать функцию calc(a, b, operation). Описание входных параметров:
#### 1. Первое число
#### 2. Второе число
#### 3. Действие над ними:
 #####   1) + Сложить
 #####  2) - Вычесть
 #####   3) * Умножить
 #####  4) / Разделить
 #####  5) В остальных случаях функция должна возвращать "Операция не поддерживается"

# Задача 2.2
#### Напишите программу, которая будет выводить нечетные числа из списка и остановится, если встретит число 139

# Задача 2.3
#### Создайте список [ 18, 14, 10, 6, 2 ]  с помощью функции range()

# Задача 2.4

#### Дан список lst = [11, 5, 8, 32, 15, 3, 20, 132, 21, 4, 555, 9, 20]. 
#### Необходимо вывести элементы, которые одновременно 1) меньше 30 и 2) делятся на 3 без остатка. Все остальные элементы списка необходимо просуммировать и вывести конечный результат.

# Задача 2.5

#### Написать функцию month_to_season(), которая принимает 1 аргумент - номер месяца - и возвращает название сезона, к которому относится этот месяц. 
###### Например, передаем 2, на выходе получаем 'Зима'.

# Задача 3.1
#### Дана следующая строка: ‘Сидел барсук в своей норе и ел картошечку пюре’

#### 1. Создайте данную строку
#### 2. Получите ее длину
#### 3. Проведите операцию сложения со строкой ‘.’
#### 4. Проверьте, входит ли подстрока ‘ре’ в заданную строку
#### 5. Посчитайте количество вхождений подстроки ‘ре’
#### 6. Получите предпоследний символ строки
#### 7. Получите все символы с нечетными индексами
#### 8. Определите, сколько слов в строке

# Задача 3.2

#### Дана строка: ‘пишите код так, как будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.’

#### 1. Начните строку с заглавной буквы, если она находится в нижнем регистре.
#### 2. Найдите индекс вхождения подстроки ‘сопровождать’.
#### 3. Замените вхождение подстроки ‘сопровождать’ на ‘поддерживать’.
#### 4. Разбейте предложение на части по запятым. Соедините части обратно, снова добавив запятые между частями.

# Задача 3.3

#### Сложите цифры целого числа.

# Задача 3.4
#### Выяснить, является ли строка палиндромом (если перевернуть строку, то будет тоже самое)
#### TESTS = ['Аргентина манит негра']

# Задача 3.5
#### Дана строка из двух слов. Поменяйте слова местами.