### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дана строка:

In [17]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [21]:
len(string_01) - string_01.count(' ')

225

In [20]:
string_01.count(' ')

45

2. Посчитайте, сколько в строке слов.

In [22]:
import re

In [23]:
list_words = re.findall(r'\w+', string_01)

In [25]:
len(list_words)

45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [26]:
def find_words(letter):
    pattern = r'\b[' + letter.upper() + letter.lower() + ']\w*'
    list_words_2 = re.findall(pattern, string_01)
    print(list_words_2)

In [27]:
find_words('w')

['written', 'winners', 'When', 'winner', 'writes', 'which', 'What']

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [28]:
import random

In [57]:
number = ''
while '3' not in number:
    number = ''.join([str(random.randint(0, 9)) for i in range(6)])
number

'523588'

#### Задача 3

Дан список:

In [58]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [60]:
sum([x for x in list_01 if 10 < x < 100 or 200 < x < 500])

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [61]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [62]:
students_dict = dict()
for x in students:
    students_dict[x[0]] = x[1:]

In [63]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый внутри созданного словаря.

In [66]:
def change_group(student_number, new_group):
    students_dict[student_number][4] = new_group

In [67]:
change_group('0096', 'PYDA2022')

In [68]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'PYDA2022'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [70]:
def print_students(group):
    for x in students_dict.values():
        if x[4] == group:
            print(x[0], x[1], x[2])

In [71]:
print_students('БСТ161')

Антонов Антон Игоревич
Степанова Наталья Александровна
Боков Игорь Харитонович

#### Задача 5

Дана матрица:

In [73]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [75]:
sum([sum(x) for x in matrix])

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [76]:
max(sum(x) for x in zip(*matrix))

22

In [78]:
print(matrix)

[[0, 1, 2, 4, 8], [6, 2, 2, 1, 9], [3, 3, 3, 3, 3], [4, 6, 7, 1, 2], [5, 7, 3, 4, 0]]

In [79]:
print(*matrix)

[0, 1, 2, 4, 8] [6, 2, 2, 1, 9] [3, 3, 3, 3, 3] [4, 6, 7, 1, 2] [5, 7, 3, 4, 0]

In [80]:
a = [1, 2]
b = [3, 4]
zip(a,b)

In [81]:
for x in zip(a,b):
    print(x)

(1, 3)
(2, 4)

In [82]:
for x in zip(*matrix):
    print(x)

(0, 6, 3, 4, 5)
(1, 2, 3, 6, 7)
(2, 2, 3, 7, 3)
(4, 1, 3, 1, 4)
(8, 9, 3, 2, 0)